<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Id cancion</title>
    <style>
        body {
            background-color: darkcyan;
            color: white;
        }

        h1 {
            text-align: center;
            text-decoration: overline;
        }

        ul{
            text-align: center;
            margin-top: 10px;
        }

        a {
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }

        li{
            font-size: 24px;
            list-style: none;
            margin: 10px;
            text-decoration: none;
        }

        div {
            color: black;
            text-align: center;
            font-size: xx-large;
            text-decoration: double;
        }

        input{
            margin-top: 15px;
            font-size:large;
        }

    </style>
</head>
<body>
    <h1>Detalle de la cancion: <%= cancionn.titulo %></h1>

        <ul>
            <li>Id: <%= cancionn.id %></li>
            <li>Titulo: <%= cancionn.titulo %></li>
            <li>Duracion: <%= cancionn.duracion %></li>
            <li>Genero_id: <%= cancionn.genero_id %></li>
            <li>Album_id: <%= cancionn.album_id %></li>
            <li>Artista_id: <%= cancionn.artista_id %></li>
        </ul>


        <div>
        <a href="/canciones/<%= cancionn.id %>/editar">
    <input type="submit" value="Editar Cancion">
        </a>
<br>
    
        <a href="/canciones/<%= cancionn.id %>/eliminar">
        <input type="submit" value="Eliminar Cancion">
        </a>
    </div>
</body>
</html>